#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 3em;
}

.canvas {
  width: 500px;
  height: 300px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-buttons-container {
  display: flex;
  justify-content: space-between;
}

.answer {
  font-size: 48px;
  mix-blend-mode: difference;
}

@media screen and (max-width: 768px) {

  .heading {
    font-size: 2em;
  }

  .canvas {
    width: 100%;
    height: 200px;
  }

  .canvas span {
    padding: 10px;
    line-height: 32px;
  }

  .answer {
    font-size: 32px;
  }

  .quiz-buttons-container {
    max-width: 100%;
  }

  .quiz-buttons-container button {
    padding: 0.5em;
  }
}
